.App {
  text-align: center;
}


.hidden {
  visibility: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto';
}

.App-link {
  color: #61dafb;
}

h4{
  font-size: 26px;
}



h5.card-title{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px !important;
}


.MuiGrid-item {
  align-items: center;
}
.ProjectsList{
  width: 300px;
  backdrop-filter:  blur(4px) saturate(150%);
}
#showMoreBtn{
  color: white;
  font-size: 10px;
  margin-top: 10px;
}
.MuiIconButton-root{
  padding: 0px !important;
}

.card{
  border-bottom: 0.5px solid white ;
}
.textField{
  width: 200px;
  height: 40px;
background: white;
border-radius: 5px;
/* alignItems: center; */
margin: 0px 0px 7px 15%;
}

.save{
  color: white;
  width: 40px !important;
  
}

.MuiButton-text .save {
  padding: 20px 0px 0px 31px;
}

#add{
   color: rgba(148,187,233,1);
    padding: 0;
    margin: -10% 0% 0%;
    width: inherit;
}
.MuiOutlinedInput-multiline {
  padding: 18.5px 19px !important;
}

.ProjectsList{
  padding: 108px 0px 187px;
}

@media only screen and (max-width: 780px){

  .ProjectsList-imgPaper-152 {
    display: none !important;
  }
}

